*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    display: flex;
}

.container{
    background-color: #040B14;
    display: flex ;
   
}

.container .name{
    color: white;
    margin-left: 40px;
    margin-top: 20px;

 
}

.container .profil img{
        width: 130px;
        height: 130px;
    border-radius: 50%;
    margin-left: 60px;
    margin-top: 40px;
    border: 10px solid rgb(70, 69, 69);
}

.saidbar {
  
    flex-direction: column;
    height: 100vh;   
    width: 250px;
}

.saidbar .icons {
    font-size: 20px;
    margin-left: 15px;
    margin-top: 20px;
   display: flex;
   gap: 20px;
  
}
.saidbar .icons .border:hover{
    background-color: rgb(64, 118, 190);
}



.saidbar .icons .border{
    
    height: 40px;
    width: 40px;
    background-color: rgb(42, 42, 42);
    border-radius: 50%;
}
.saidbar .icons .border i{
    display: flex;
    padding: 10px;

}

.container .profil{
    display: flex;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 15px;
}


.menu a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(174, 167, 167);
    margin-left: 25px;
    width: 260px;
    border-radius: 9px;
}
.saidbar .menu i{
    padding-right: 8px;
}
.menu a:hover {
    background-color: #1e293b;
    color: #38bdf8;
  }

.main-section{
    background-size: cover;
    width: 100%;
    height: 590px;
    background-image: url(/Img/hero-bg.jpg);
  
}

.main-section h1{
    color: white;
    font-size: 64px;

}
.main-section h3{
    color: white;
    font-size: 26px;
}
.main-section div{
    margin-top: 30%;
    margin-left: 200px;
}
